@import url('https://fonts.googleapis.com/css?family=Karla');

body {
	width: 100%;
	height: 100%;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	overflow-x: hidden;
}

html {
	width: 100%;
	height: 100%;
	min-height: 100%;
}

a {
	color: #00B7FF;
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    color: black;
}


#search {
	z-index: 20;
	display: block;
	position: relative;
	float: right;
	margin-right: 2%;
	margin-top: 2%;
	top: -100%;
	outline: 0.5vw solid white;
	background-color: white;

}

.hoverb:hover {
	background-color: grey;
	
}

h1 {
	font-family: Karla;
	display: block;
	margin-left: 25%;
	
}

.row {
	height: 100%;
	width: 100%;
	margin: 0 0 0 0;
}

.container {
	height: 100%;
	width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.view {
	height: 100%;
	padding: 0 0 0 0;
}

.fa {
	color: black;
}

#map {
	z-index: 10;
	height: 100%;
}

#list {
	display:  block;
	float: right;
	margin-top: 2vh;
	margin-right: 2vw;
	height: 85%;
	width: 80%;
	outline: 2px solid gray;
}
