@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

body {
	width: 100%;
	height: 100%;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	overflow-x: hidden;
}

html {
	width: 100%;
	height: 100%;
	min-height: 100%;
}

a {
	color: #00B7FF;
}

h1 {
	text-align: center;
	font-size: 2em;
	font-family: Karla;
	
}

input[type=text] {
	width: 130px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
	color: black;
}

p {
	margin-top: 1vh;
	text-align: center;
}

.hover-grey:hover {
	background-color: grey;
}

.sidebar {
	text-align: center;
	align-content: center;
	background-color: #d3d3d3;
}

.row {
	height: 100%;
	width: 100%;
	margin: 0 0 0 0;
}

.container {
	height: 100%;
	width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.view {
	height: 100%;
	padding: 0 0 0 0;
}

.fa {
	color: black;
}

.active {
	background-color: light-gray !important;
	color: white;
}

.outline-black {
	border: 1px solid gray;
}

.outline-black:focus {
	outline: none !important;
}

.padding-bot-small {
	padding-bottom: 20px;
}

#map {
	z-index: 10;
	height: 100%;
}

/*
#list {
	display:  block;
	height: 80%;
	width: 80%;
	outline: 1px solid gray;
	margin: 0 auto;
	background-color: white;
	font-size: 1.2em;
	font-family: Karla;
	text-align: left;
	padding-left: 2%;
	padding-top: 4%;
}
*/
#search {
	z-index: 20;
	display: block;
	position: relative;
	float: right;
	margin-right: 5%;
	margin-top: -3%;
	top: -100%;
	vertical-align: center;
	align-content: center;
}

#filter-icon {
	border: 1px solid transparent;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
	box-sizing: border-box;
	margin-top: -7px;	
	height: 5vh;
	width: 5vh;
	
}

#search-bar {
	border: 2px solid transparent;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
	box-sizing: border-box;
	font-family: Roboto;
	padding: 0 11px 0 13px;
	font-size: 1.5em;
	font-weight: 300;
	height: 5vh;
	width: 25vw;
}

#iconwrapper {
	position: relative;
	z-index: 20;
	right: -10%;
	top: -20%;
}

#icon {
	height: 100px;
	
}

.label {
	font-size: 10px;
	font-size: 1rem;
	font-weight: normal;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background-color: #658db3;
}

.btn-default-size {
	height: 50px;
	width: 80px;
}

.categories {
	display: inline-block;
	text-align: center;
	padding-bottom: 10px;
	align-content: center;
	margin: 0 auto;
	width: 100%;
}

.title-link {
	color: black;
}

.title-link:hover {
	text-decoration: none;
}

.title-link:active {
	text-decoration: none;
}

.title-link:focus {
	text-decoration: none;
}

.moment-picker {
	z-index: 1060 !important;
}

#name {
	font-style: bold;
	display: block;
	float: left;
}

#price {
	margin-top: -1.5em;
	display: block;
	float: right;
	margin-right: 1.5em;
	font-weight: 700;
}

.profile-img {
  border-radius: 5px;
}

ul {
	display:  block;
	height: 80%;
	width: 80%;
	outline: 1px solid gray;
	background-color: white;
	font-size: 1.2em;
	font-family: Karla;
	text-align: left;
	margin-left: 10%;
	padding-top: 4%;
    list-style-type: none;
	overflow: scroll;
}


@media only screen and (max-width: 500px) {
	
	#map {
		z-index: 10;
		height: 95%;
	}
	
	#iconwrapper{
		top: -23%;
	}
	
	#icon {
		height: 10vh;
		border-radius: 50%;
		border: 1.5px solid #606060;
		
	}
	.header-phone {
		position: fixed;
		z-index: 20;
		width: 100%;
		margin-top: -2.4%;
		background-color: white;
		text-align: center;
		padding-left: 0;

	}

	.empty-space {
		overflow-y: auto;
		height: 45px;
		width: 100%;
	}
	


	#filter-icon {
		position: fixed;
		height: 6.2vh;
		width: 6.2vh;
		margin-top: 8%;
		margin-left: -78%;
	}
	#search-bar {
		position: fixed;
		height: 6.2vh;
		width: 70vw;
		margin-top: 8%;
		margin-left: -67%;
	}
	
	#search {
		z-index: 20;
		display: block;
		position: relative;
		float: right;
		margin-right: 5%;
		margin-top: -13%;
		top: -100%;
		vertical-align: center;
		align-content: center;

	}
	
	
	.closebutton {
		margin-right: 10%;
	}
	
	.window {
		height: 80%;
	}
	
	.logoutbutton {
		padding-left: 2%;
		padding-right: 2%;
	}
	
}