<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="view" ng-controller="mainController">
	<div class="col-xs-9 view">
		<div id="map"></div>

		<div id="search">

			<button class="btn btn-default btn-sm hover-grey" id="filter-icon">
				<i class="fa fa-filter" aria-hidden="true"></i>
			</button>
			<input id="search-bar" type="text" name="search" placeholder="Search">
		</div>
	</div>
	<div class="col-xs-3 view sidebar">
		<h1 id="title">table for two</h1>

		<div class="btn-group padding-bot-small">
			<button class="btn btn-default outline-black" ng-class="getActiveMenuLinkClass('restaurant')" ng-click="openRestaurantList()"><i class="fa fa-cutlery" aria-hidden="true"></i></button>
			<button class="btn btn-default outline-black" ng-class="getActiveMenuLinkClass('user')" ng-click="openPeopleList()"><i class="fa fa-user" aria-hidden="true"></i></button>
		</div>

		<div id="list"></div>
	</div>

</div>
</div>
