<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="view" ng-controller="mainController">
	<div class="col-xs-9 view">
		<div id="map" ng-click='addMarker();'></div>
		<div data-ng-model="mymarker"></div>

		<div id="search">

			<button class="btn btn-default btn-sm hoverb">
				<i class="fa fa-filter" aria-hidden="true"></i>
			</button>
			<input id="bar" type="text" name="search" placeholder="Search">
		</div>
	</div>
	<div class="col-xs-3 view">
	<h1 id="title">table for two</h1>
	
	<div id="restaurant-button" ng-class="getActiveMenuLinkClass('restaurant')" ng-click="openRestaurantList()"><p>Restaurants</p></div>
	<div id="people-button" ng-class="getActiveMenuLinkClass('people')" ng-click="openPeopleList()"><p>People</p></div>
	<div id="list">
	</div>

	</div>
</div>
