<div class="modal-body">
	<div style="text-align:center;">
		<img id="icon" class='profile-img' ng-src="{{imageUrl}}" alt="">&nbsp;
		<div ng-if="isLoggedIn">
			<h2>{{user.data.facebook.name}}</h2>
			<h4>{{user.data.facebook.email}}</h4>
		</div>
		<a ng-if="!isLoggedIn" href="javascript:void(0)" class="btn btn-primary" ng-click="login()">Log in with Facebook</a>
	</div>
</div>
<div class="modal-footer">
	<input type="logout" value="Logout" ng-click="logout()" ng-if="isLoggedIn" class="btn btn-primary logoutbutton" style="width: 15%"/>
	<input type="close" value="Close" ng-click="close()" class="btn btn-default closebutton" style="width:15%"/>
</div>